@model  GoogleApisYoutube.ViewModel.SearchViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.TextBoxFor(x => x.SearchText) <input id="btnSearch" type="submit" value="Search" />
}

@if (Model !=null && Model.SearchResult != null)
{
    <table>

        @foreach (var item in Model.SearchResult.items)
        {
        <tr>
            <td>
                <a href="https://www.youtube.com/watch?v=@item.id.videoId"><img src="@item.snippet.thumbnails._default.url" style="padding:10px" alt="@item.snippet.title" /></a>
                <a></a>
            </td>
            <td>
                <a href="https://www.youtube.com/watch?v=@item.id.videoId">@item.snippet.title</a> <br />
                @item.snippet.channelTitle<br />
                @item.snippet.publishedAt<br /><br />
            </td>
        </tr>
        }

    </table>
}